@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="@Url.Content("~/Content/MS-styles.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    @RenderPage("~/Views/Home/Header.cshtml")
    
    <div class="row around-xs">
        <div class="col-xs-6">
            <div class="box">



                <div class="" id="MSFeed">
                    <h1 id="FeedTitle">Makerspace Feed</h1>
                    <button id="FeedFollow">+ Follow</button>
                    <div class="container" id="FeedContainer">
                        <img src="https://www.vhv.rs/dpng/d/428-4287793_male-profile-round-circle-users-svg-png-icon.png" alt="AdminPic" width="10%">
                        <h4>Admin Name</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <hr style="width: 90%;opacity: 30%;">
                        <img src="https://www.vhv.rs/dpng/d/428-4287793_male-profile-round-circle-users-svg-png-icon.png" alt="AdminPic" width="10%">
                        <h4>Admin Name</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <hr style="width: 90%;opacity: 30%;">
                        <img src="https://www.vhv.rs/dpng/d/428-4287793_male-profile-round-circle-users-svg-png-icon.png" alt="AdminPic" width="10%">
                        <h4>Admin Name</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <hr style="width: 90%;opacity: 30%;">
                        <img src="https://www.vhv.rs/dpng/d/428-4287793_male-profile-round-circle-users-svg-png-icon.png" alt="AdminPic" width="10%">
                        <h4>Admin Name</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <hr style="width: 90%;opacity: 30%;">
                        <img src="https://www.vhv.rs/dpng/d/428-4287793_male-profile-round-circle-users-svg-png-icon.png" alt="AdminPic" width="10%">
                        <h4>Admin Name</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <hr style="width: 90%;opacity: 30%;">
                        <img src="https://www.vhv.rs/dpng/d/428-4287793_male-profile-round-circle-users-svg-png-icon.png" alt="AdminPic" width="10%">
                        <h4>Admin Name</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <hr style="width: 90%;opacity: 30%;">
                        <img src="https://www.vhv.rs/dpng/d/428-4287793_male-profile-round-circle-users-svg-png-icon.png" alt="AdminPic" width="10%">
                        <h4>Admin Name</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <hr style="width: 90%;opacity: 30%;">
                        <img src="https://www.vhv.rs/dpng/d/428-4287793_male-profile-round-circle-users-svg-png-icon.png" alt="AdminPic" width="10%">
                        <h4>Admin Name</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-6">
            <div class="box">
                around

                <div id="MSGallery">
                    <!-- Slideshow container -->
                    <div class="slideshow-container">

                        <!-- Full-width images with number and caption text -->
                        <div class="mySlides fade">
                            <div class="numbertext"></div>
                            <img src="https://tomyum.alandenz.dk/wp-content/uploads/2020/12/3425db7caa5f4ef79ef66e10b79085af.jpg" style="width:100%">
                            <div class="text"></div>
                        </div>

                        <div class="mySlides fade">
                            <div class="numbertext"></div>
                            <img src="https://tomyum.alandenz.dk/wp-content/uploads/2020/12/Unknown.jpg" style="width:100%">
                            <div class="text"></div>
                        </div>

                        <div class="mySlides fade">
                            <div class="numbertext"></div>
                            <img src="https://tomyum.alandenz.dk/wp-content/uploads/2020/12/143-bleasby-road-eight-mile-plains-0f77d978-6d1f-4093-82e3-4f54b47eb335-800x600-0.jpg" style="width:100%">
                            <div class="text"></div>
                        </div>


                        <!-- Next and previous buttons -->
                        <!-- <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                            <a class="next" onclick="plusSlides(1)">&#10095;</a>
                        </div>
                    <br> -->
                        <!-- The dots/circles
                    <div style="text-align:center">
                        <span class="dot" onclick="currentSlide(1)"></span>
                        <span class="dot" onclick="currentSlide(2)"></span>

                    </div> -->

                    </div>


                    <div id="MSAbout">
                        <div class="container" id="AboutContainer">
                            <h2 id="MSAboutTitle">About Makerspace</h2>
                            <p id="MSAboutText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <ul id="MSAboutList">
                                <li>Lasercutter</li>
                                <li>Screenprinter</li>
                                <li>3D Printer</li>
                                <li>Stickerprinter</li>
                                <li>Vinylcutter</li>
                            </ul>
                            <div class="container" id="AboutTeam">
                                <h4 id="AboutTeamTitle">Meet the Team</h4>
                                <img id="AboutTeamPic" src="https://www.vhv.rs/dpng/d/428-4287793_male-profile-round-circle-users-svg-png-icon.png" alt="AdminPic">
                                <p id="AboutTeamText">Admin Name<br>Title<br>Contact Information</p><br><br><br>
                                <img id="AboutTeamPic" src="https://www.vhv.rs/dpng/d/428-4287793_male-profile-round-circle-users-svg-png-icon.png" alt="AdminPic">
                                <p id="AboutTeamText">Admin Name<br>Title<br>Contact Information</p><br><br><br>
                                <img id="AboutTeamPic" src="https://www.vhv.rs/dpng/d/428-4287793_male-profile-round-circle-users-svg-png-icon.png" alt="AdminPic">
                                <p id="AboutTeamText">Admin Name<br>Title<br>Contact Information</p><br><br><br>
                            </div>

                            <div id="MSCalendar" class="event-calendar" style="width:350px;">
                                <div class="head">
                                    <p class="top-line">upcoming events</p>
                                </div>
                                <div class="spacer"></div>
                                <div class="event-list">
                                    <a href="#" class="event">
                                        <div class="event-container">
                                            <span class="date-container">
                                                <span class="date">12<span class="month">Apr</span></span>
                                            </span>
                                            <span class="detail-container">
                                                <span class="title">Lasercutting Workshop</span>
                                                <span class="description">Every other Sunday</span>
                                            </span>
                                            </span>
                                        </div>
                                    </a>
                                    <div class="spacer"></div>
                                    <a href="#" class="event">
                                        <div class="event-container">
                                            <span class="date-container">
                                                <span class="date">06<span class="month">jun</span></span>
                                            </span>
                                            <span class="detail-container">
                                                <span class="title">Closed</span>
                                                <span class="description">Holiday</span>
                                            </span>
                                            </span>
                                        </div>
                                    </a>
                                    <div class="spacer"></div>
                                    <a href="#" class="event">
                                        <div class="event-container">
                                            <span class="date-container">
                                                <span class="date">13<span class="month">jun</span></span>
                                            </span>
                                            <span class="detail-container">
                                                <span class="title">Vinylcutting Course</span>
                                                <span class="description">Every 13th in the month</span>
                                            </span>
                                            </span>
                                        </div>
                                    </a>
                                    <a href="#" class="event">
                                        <div class="event-container">
                                            <span class="date-container">
                                                <span class="date">19<span class="month">Nov</span></span>
                                            </span>
                                            <span class="detail-container">
                                                <span class="title">Maker Meet-up</span>
                                                <span class="description">Three days of creativity</span>
                                            </span>
                                            </span>
                                        </div>
                                    </a>
                                    <a href="#" class="event">
                                        <div class="event-container">
                                            <span class="date-container">
                                                <span class="date">20<span class="month">Nov</span></span>
                                            </span>
                                            <span class="detail-container">
                                                <span class="title">Maker Meet-up</span>
                                                <span class="description">Three days of creativity</span>
                                            </span>
                                            </span>
                                        </div>
                                    </a>
                                    <a href="#" class="event">
                                        <div class="event-container">
                                            <span class="date-container">
                                                <span class="date">21<span class="month">Nov</span></span>
                                            </span>
                                            <span class="detail-container">
                                                <span class="title">Maker Meet-up</span>
                                                <span class="description">Three days of creativity</span>
                                            </span>
                                            </span>
                                        </div>
                                    </a>
                                    <div class="spacer"></div>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
        @RenderPage("~/Views/Home/Footer.cshtml")
        <script src="@Url.Content("~/Scripts/header.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/MS-script.js")" type="text/javascript"></script>

</body>
</html>
